language: ruby
rvm:
  - 1.9.2
  - 1.9.3  
notifications:
  irc:
    channels:
      - "irc.freenode.org#TotenDev"
    template:
      - "%{repository_url} (%{commit}) : %{message} %{foo} "
      - "Build details: %{build_url}"